@use '/src/styles/utils/variables.scss' as *;
@use '/src/styles/utils/mixins.scss' as *;

.main {
  width: 100%;
  display: flex;
  flex-direction: column;

  .containerTitle {
    @include flex-columnStart;

    .title {
      font-family: $font-title;
      font-size: 48px;
      font-weight: bold;
      color: $primary-color;
      transition: all 0.3s ease-in-out;
    }

    .description {
      font-family: $font-stack;
      font-size: 16px;
      font-weight: normal;
      line-height: 24px;
      color: $primary-color;
      opacity: 0.3;
      transition: all 0.3s ease-in-out;
    }
  }

  .containerTable {
    width: 100%;
    border-radius: 8px;
    padding-block-start: 48px;

    .table {
      border: 1px solid $border-color;
      text-align: left;
      border-collapse: collapse;
      width: 100%;

      .numberContainer {
        min-width: 23px;
        padding-inline: 12px;
        text-align: center;
      }

      .userContainer {
        width: 100%;
        padding-inline: 12px;
      }

      .countContainer {
        min-width: 146px;
        padding-inline: 12px;
      }

      .thead {
        $primary-color: rgb(255, 255, 255, 0.04);
        background-color: $primary-color;
        $primary-color: rgba(255, 255, 255, 0.3);
        color: $primary-color;

        & .tr {
          font-family: $font-stack;
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          padding-inline: 12px;
          padding-block: 8.5px;
          transition: all 0.3s ease-in-out;
          border-bottom: 1px solid $border-color;
        }
      }

      .tbody {
        color: $primary-color;
        font-family: $font-stack;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 834px) {
  .main {
    .containerTitle {
      .title {
        font-size: 24px;
      }

      .description {
        font-size: 12px;
        line-height: 20px;
      }
    }

    .containerTable {
      padding-block-start: 24px;

      .table {
        font-size: 12px;

        .numberContainer {
          min-width: 13px;
        }

        .countContainer {
          min-width: 62px;
        }

        .thead {
          .tr {
            font-size: 8px;
            padding-block: 11px;
          }
        }
      }
    }
  }
}
